body {
    text-align: center;
    background-color: #F0EBE3;
    margin-top: 0px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
}

.heading {
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
    margin-top: 0px;
}

.fill {
    font-size: large;
    color: #064663;
    font-weight: bold;
}

#s {
    background-color: green;
    font-weight: bolder;
    padding: 5px;
}

#s1 {
    background-color: red;
    font-weight: bolder;
    padding: 5px;
}